@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Questrial");
body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

h2 {
  text-align: center;
  font-family: "dancing script", cursive;
  font-size: 2.9em; }

h4, p {
  font-family: "questrial", sans-serif; }

img {
  width: 100%; }

/*header*/
header {
  position: relative;
  background: url(../img/pexels-photo-91884.jpeg) no-repeat center center fixed;
  background-position: 15% 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  height: 500px;
  color: #000; }
  header nav {
    width: 100%; }
    header nav a {
      border-radius: 10px;
      padding: 7px;
      background-color: transparent;
      color: #decead;
      text-transform: uppercase;
      text-decoration: none;
      font-family: "questrial", sans-serif;
      font-size: 1.2em; }
      header nav a:hover {
        background-color: black;
        color: #fff;
        -webkit-transition: 500ms;
        transition: 500ms; }

/*nav*/
#nav-about {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  bottom: 250px;
  right: 0px; }

#nav-fw {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  bottom: 235px;
  left: -40px; }

#nav-contact {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 37%; }

.logo {
  grid-column: 1;
  grid-row: 1;
  -ms-flex-item-align: start;
  align-self: start;
  max-width: 55px;
  padding: 10px; }

.title-card {
  background-color: transparent;
  border: 7px solid #fff;
  grid-column: 2;
  grid-row: 2;
  justify-items: center;
  color: white;
  padding: 15px; }
  .title-card h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "questrial", sans-serif;
    margin-bottom: 0; }
  .title-card h3 {
    font-family: "dancing script", cursive;
    font-size: 2em;
    text-align: center;
    margin-top: 5px; }

/*Main--Featured Work*/
ul {
  margin: 0 auto 100px auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  ul .card {
    min-width: 365px;
    height: 50vh;
    position: relative;
    overflow: hidden; }
    ul .card a {
      text-decoration: none;
      color: white; }
    ul .card .projects-content {
      position: absolute;
      width: 100%;
      height: 80%;
      bottom: -100%;
      padding: 10;
      text-align: center;
      margin: 0;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    ul .card h4 {
      font-size: 1.2em;
      text-transform: uppercase; }
    ul .card:hover .projects-content {
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
      background: linear-gradient(transparent, black);
      bottom: 0; }

.fw1, .fw2, .fw3, .fw4, .fw5, .fw6 {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

.fw1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/bookshelf.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bookshelf.png); }

.fw2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 128, 128, 0.3)), to(rgba(5, 128, 128, 0.3))), url(../img/memory-game.png);
  background-image: linear-gradient(rgba(5, 128, 128, 0.3), rgba(5, 128, 128, 0.3)), url(../img/memory-game.png); }

.fw3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 48, 250, 0.4)), to(rgba(25, 48, 250, 0.4))), url(../img/star-wars.png);
  background-image: linear-gradient(rgba(25, 48, 250, 0.4), rgba(25, 48, 250, 0.4)), url(../img/star-wars.png); }

.fw4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 165, 0, 0.4)), to(rgba(255, 165, 0, 0.4))), url(../img/frogger.png);
  background-image: linear-gradient(rgba(255, 165, 0, 0.4), rgba(255, 165, 0, 0.4)), url(../img/frogger.png); }

.fw5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 128, 128, 0.6)), to(rgba(5, 128, 128, 0.6))), url(../img/PAM.png);
  background-image: linear-gradient(rgba(5, 128, 128, 0.6), rgba(5, 128, 128, 0.6)), url(../img/PAM.png); }

.fw6 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 128, 0.8)), to(rgba(0, 0, 128, 0.8))), url(../img/todo-list.png);
  background-image: linear-gradient(rgba(0, 0, 128, 0.8), rgba(0, 0, 128, 0.8)), url(../img/todo-list.png); }

#scroll-to-top-icon {
  position: fixed;
  bottom: 80px;
  right: 20px; }
  #scroll-to-top-icon .fa-arrow-up {
    font-size: 3.5em;
    color: #c19f7c; }
    #scroll-to-top-icon .fa-arrow-up:hover {
      -webkit-animation: bounce 1s;
      animation: bounce 1s;
      color: #000; }

@-webkit-keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }

#about {
  padding: 45px 45px 0 45px;
  font-size: 1.3em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6a847c), to(#b9cab6));
  background-image: linear-gradient(#6a847c, #b9cab6);
  color: white; }
  #about h2 {
    margin: 0; }
  #about img {
    border: 5px white solid; }

.skills {
  color: black;
  height: 100%;
  width: 100%;
  padding: 20px 0; }
  .skills h3 {
    margin: 0;
    padding: 20px 0 10px 0;
    font-family: "dancing script", cursive;
    font-size: 2.5em;
    text-align: center; }
  .skills .icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .skills .icon-container .skill-icons {
      width: 70px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 10px; }
      .skills .icon-container .skill-icons p {
        text-align: center;
        margin: 7px 0 0 0;
        font-size: .8em; }
      .skills .icon-container .skill-icons .si {
        margin: auto;
        font-size: 1.7em; }

/*Contact Section*/
#contact {
  margin-bottom: 100px; }
  #contact h2 {
    margin: 30px;
    font-size: 3.3em; }

.form-container {
  background: url(../img/pexels-photo-861191.jpeg) no-repeat center center fixed;
  padding: 40px 0; }

.google-form {
  display: none;
  margin: auto; }

.form-btn {
  text-align: center; }
  .form-btn button {
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 15px;
    font-family: "questrial", sans-serif;
    font-size: 1.3em;
    -webkit-transform: scale(1.1, 1);
    transform: scale(1.1, 1); }
    .form-btn button:hover {
      background-color: #685a63;
      color: #fff;
      -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      -webkit-transition: 500ms;
      transition: 500ms; }

/*Footer*/
footer {
  margin: 0;
  display: grid;
  grid-template-columns: 3fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  footer .logo {
    padding: 0;
    margin: 0 10px; }

.socials {
  grid-column: 3; }
  .socials a {
    color: black;
    padding: 0 10px;
    font-size: 25px; }

/*Media Queries*/
@media screen and (min-width: 600px) {
  .logo {
    max-width: 65px; }
  h1 {
    font-size: 2.5em;
    -ms-flex-item-align: center;
    align-self: center; }
  #nav-contact {
    left: 43%; }
  ul {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
  li {
    width: 45%; }
  #about h2 {
    margin-bottom: 25px; }
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about-content p {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: 45%;
      padding: 0 45px 0 0; }
    .about-content img {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: 45%; } }

@media screen and (min-width: 800px) {
  #jumbotron h2 {
    width: 800px;
    margin-left: auto;
    margin-right: auto; }
  #nav-contact {
    left: 45%; }
  li img {
    height: 62%; } }

@media screen and (min-width: 1100px) {
  body {
    width: 1100px;
    margin-left: auto;
    margin-right: auto; }
  li {
    width: 30%; } }

@media screen and (min-width: 1400px) {
  header {
    background-position: 15% 85%; } }
