body {
	margin: 0;
	padding: 0;
	background-color: #c2c2a3;
}

img {
	display: block;
	width: 100%;
}

p {
	font-family: 'Questrial', sans-serif;
}

	/*header*/
header {
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr; 
	margin: 0;
	padding: 0;
	max-height: 130px;
}

.logo {
	grid-column: 1;
	gird-row: 1;
	align-self: start;
	max-width: 75px;
}

h1 {
	grid-column: 2;
	grid-row: 1;
	justify-self: end;
	align-self: start;
	margin: 5px 0px;
	padding-right: 10px;
	font-family: 'Lato', sans-serif;
	color: black;
}

h3 {
	grid-column: 2;
	grid-row: 1;
	justify-self: end;
	align-self: end;
	margin: 5px 0px ;
	padding: 0px 10px 0px 0px;
	font-family: 'Dancing Script', cursive;

}

	/*Main--Jumbotron*/

h4 {
	font-family: 'Source Code Pro', monospace;
}

#jumbotron p {
	text-align: center;
	margin: 30px 10px;
	padding: 10px 3px;
	border: solid #fff 1px;
	border-radius: 2px;
	box-shadow: 3px 5px gray;
	background-color: #fff; 
}

figure {
  margin: 0;
  padding: 0;
  font-size: .8em;
}

	/*Main--Featured Work*/
h2 {
	text-align: center;
}

ul{
	padding: 0px; 10px;
}
li {
	margin: 20px 10px;
	list-style: none;
	border: solid #fff 1px;
	border-radius: 2px;
	box-shadow: 4px 7px gray;

	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

	/*Footer*/
footer {
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr;
	align-items: center;
}

.socials {
	grid-column: 2;
}

.socials a {
	padding: 0 10px;
	font-size: 25px;
}

@media screen and (min-width: 600px){
	ul {
		width: 100%;
		display: flex;
		flex: row;
		justify-content: space-around;
		flex-flow: wrap;
	}

	li {
		width: 45%;
	}
}

@media screen and (min-width: 1000px) {
body {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

li{
	width: 30%;
}
}*/