@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Questrial");
body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

h4, p {
  font-family: "questrial", sans-serif; }

img {
  width: 100%; }

/*header*/
header {
  position: relative;
  background: url(../img/pexels-photo-861191.jpeg) no-repeat center center fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  height: 500px;
  color: #000; }
  header nav {
    width: 100%; }
    header nav a {
      padding: 7px;
      background-color: #fff;
      color: black;
      text-transform: uppercase;
      text-decoration: none;
      font-family: "questrial", sans-serif;
      font-size: 1.1em; }
      header nav a:hover {
        background-color: black;
        color: #fff;
        -webkit-transition: 1s;
        transition: 1s; }

#nav-about {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  bottom: 250px;
  right: 0px; }

#nav-fw {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  bottom: 235px;
  left: -40px; }

#nav-contact {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 37%; }

.logo {
  grid-column: 1;
  grid-row: 1;
  -ms-flex-item-align: start;
  align-self: start;
  max-width: 55px;
  padding: 10px; }

.title-card {
  background-color: #decead;
  border: 7px solid #fff;
  grid-column: 2;
  grid-row: 2;
  justify-items: center;
  color: black;
  padding: 15px; }
  .title-card h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "questrial", sans-serif;
    margin-bottom: 0; }
  .title-card h3 {
    font-family: "dancing script", cursive;
    font-size: 1.7em;
    text-align: center;
    margin-top: 5px; }

/*Main--Featured Work*/
h2 {
  text-align: center;
  font-family: "dancing script", cursive;
  font-size: 2.9em; }

h4 {
  font-size: 1.2em;
  text-transform: uppercase; }

ul {
  margin: 0;
  padding: 10px;
  background: url(../img/pexels-photo-91884.jpeg) no-repeat center center fixed; }

li {
  background-color: #685a63;
  margin: 20px 10px;
  list-style: none;
  border: solid #fff 5px;
  border-radius: 2px;
  text-align: center; }
  li img {
    height: 50%; }
  li a {
    text-decoration: none;
    color: white; }
  li p {
    color: white; }

#about {
  padding: 45px 45px 0 45px;
  font-size: 1.3em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6a847c), to(#b9cab6));
  background-image: linear-gradient(#6a847c, #b9cab6);
  color: white; }
  #about h2 {
    margin: 0; }
  #about img {
    border: 5px white solid; }

.skills {
  color: black;
  height: 100%;
  width: 100%;
  padding: 20px 0; }
  .skills h3 {
    margin: 0;
    padding: 20px 0 10px 0;
    font-family: "dancing script", cursive;
    font-size: 2.5em;
    text-align: center; }
  .skills .icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .skills .icon-container .skill-icons {
      width: 70px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 10px; }
      .skills .icon-container .skill-icons p {
        text-align: center;
        margin: 7px 0 0 0;
        font-size: .8em; }
      .skills .icon-container .skill-icons .si {
        margin: auto;
        font-size: 1.7em; }

/*Contact Section*/
#contact h2 {
  margin: 30px;
  font-size: 3.3em; }

.google-form {
  display: none;
  margin: auto; }

.form-btn {
  text-align: center; }
  .form-btn button {
    margin-bottom: 25px;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 15px;
    font-family: "questrial", sans-serif;
    font-size: 1.3em;
    -webkit-transform: scale(1.1, 1);
    transform: scale(1.1, 1); }
    .form-btn button:hover {
      background-color: #685a63;
      color: #fff;
      -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      -webkit-transition: 1s;
      transition: 1s; }

/*Footer*/
footer {
  margin: 0;
  display: grid;
  grid-template-columns: 2fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.socials {
  grid-column: 2; }
  .socials a {
    color: black;
    padding: 0 10px;
    font-size: 25px; }

/*Media Queries*/
@media screen and (min-width: 600px) {
  .logo {
    max-width: 65px; }
  h1 {
    font-size: 2.5em;
    -ms-flex-item-align: center;
    align-self: center; }
  #nav-contact {
    left: 43%; }
  ul {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
  li {
    width: 45%; }
  #about h2 {
    margin-bottom: 25px; }
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about-content p {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: 45%;
      padding: 0 45px 0 0; }
    .about-content img {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: 45%; } }

@media screen and (min-width: 800px) {
  #jumbotron h2 {
    width: 800px;
    margin-left: auto;
    margin-right: auto; }
  #nav-contact {
    left: 45%; }
  li img {
    height: 62%; } }

@media screen and (min-width: 1100px) {
  body {
    width: 1100px;
    margin-left: auto;
    margin-right: auto; }
  li {
    width: 30%; } }
