@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Questrial');

//Fonts
$main-font: 'lato', sans-serif;
$secondary-font: 'questrial', sans-serif;
$accent-font: 'dancing script', cursive;

//Colors
$bg-color: #fff;
$primary-color: #6a847c; //dark green
$secondary-color: #b9cab6; //light green
$light-color: #decead; //light beige
$accent-color: #c19f7c; //dark beige
$dark-purp: #685a63; //purple

//Functions
@function set-text-color($bg-color){
  @if(lightness($bg-color) > 50){
    @return #000;
  } @else {
    @return #fff;
  }
}