@import 'variables';
@import url("https://use.fontawesome.com/releases/v5.3.0/css/all.css");

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

h2 {
  text-align: center;
  font-family: $accent-font;
  font-size: 2.9em;
}

h4, p {
  font-family: $main-font;
}

img {
  width: 100%;
}

/*header*/
header {
  position: relative;
  background:
  url(../img/pexels-photo-91884.jpeg) no-repeat center center fixed;
  background-position: 15% 60%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  height: 500px;
  color: set-text-color($bg-color);
  nav {
    width: 100%;
    a{
      border-radius: 10px;
      padding: 7px;
      background-color: transparent;
      color: $light-color;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $main-font;
      font-size: 1.2em;
      &:hover {
        background-color: black;
        color: set-text-color(black);
        transition: 500ms;
      }
    }
  }
}

/*nav*/
#nav-about {
  transform: rotate(90deg);
  position: absolute;
  bottom: 250px;
  right: 0px;
}

#nav-fw {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 235px;
  left: -40px;
}

#nav-contact {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 37%;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  max-width: 55px;
  padding: 10px;
}

.title-card {
  background-color: transparent;
  border: 7px solid $bg-color;
  grid-column: 2;
  grid-row: 2;
  color: white;
  padding: 15px;
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: $main-font;
    margin-bottom: 0;
  }
  h3 {
    font-family: $accent-font;
    font-size: 2em;
    text-align: center;
    margin-top: 5px;
    // transform: scale(1.2);
  }
}

  /*Main--Featured Work*/
ul{
  margin-bottom: 100px;
  position: relative;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    width: 100%;
    min-width: 350px;
    height: 50vh;
    position: relative;
    overflow: hidden;
    a {
      text-decoration: none;
      color: white;
    }
    .projects-content {
      position: absolute;
      width: 100%;
      height: 70%;
      bottom: -100%;
      padding: 10;
      text-align: center;
      margin: 10;
      transition: 0.5s;
    }
    h4 {
      font-size: 1.2em;
      text-transform: uppercase;
    }
    &:hover {
      .projects-content {
        background: linear-gradient(transparent, black);
        bottom: 0;
      }
    }
  }
}

%shared-img {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3))
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fw1 {
  @extend %shared-img;
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)),
  url(../img/bookshelf.png);
}

.fw2 {
  @extend %shared-img;
  background-color: $light-green;
    &::before {
    content: "\f669";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    color: #232528;
    font-size: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
  }
}

.fw3 {
  @extend %shared-img;
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)),
  url(../img/memory-game.png);
}

.fw4 {
  @extend %shared-img;
  background-color: $dark-purp;
  &::before {
    content: "\f37f";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    color: #202020;
    font-size: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
  }
}

.fw5 {
  @extend %shared-img;
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)),
  url(../img/frogger.png);
}

.fw6 {
  @extend %shared-img;
  background-color: $light-color;
  &::before {
    content: "\f03a";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    color: #232528;
    font-size: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
  }
}

#scroll-to-top-icon {
    position: fixed;
    bottom: 80px;
    right: 20px;
  .fa-arrow-up {
    font-size: 3.5em;
    color: $accent-color;
    &:hover{
      animation: bounce 1s;
      color: set-text-color($accent-color);
    }
  }
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}

#about {
  padding: 45px 45px 0 45px;
  font-size: 1.3em;
  background-image: linear-gradient($primary-color, $light-green);
  color: white;
  h2{
    margin: 0;
  }
  img {
    border: 5px white solid;
  }
}

.skills {
  color: black;
  height: 100%;
  width: 100%;
  padding: 20px 0;
  h3 {
    margin: 0;
    padding: 20px 0 10px 0;
    font-family: $accent-font;
    font-size: 2.5em;
    text-align: center;
  }
  .icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .skill-icons {
      width: 70px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 10px;
      p {
        text-align: center;
        margin: 7px 0 0 0;
        font-size: .8em;
      }
      .si {
        margin: auto;
        font-size: 1.7em;
      }
    }
  }
}

/*Contact Section*/
#contact {
  margin-bottom: 100px;
  h2{
    margin: 30px;
    font-size: 3.3em;
  }
}

.form-container {
    background: url(../img/pexels-photo-861191.jpeg) no-repeat center center fixed;
    padding: 40px 0;
}

.google-form {
  display: none;
  margin: auto;
}

.form-btn {
  text-align: center;
  button {
    // margin-bottom: 25px;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 15px;
    font-family: $main-font;
    font-size: 1.3em;
    transform: scale(1.1,1);
    &:hover {
      background-color: $dark-purp;
      color: set-text-color($dark-purp);
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      transition: 500ms;
    }
  }
}

/*Footer*/
footer {
  margin: 0;
  display: grid;
  grid-template-columns: 3fr;
  align-items: center;
  .logo {
    padding: 0;
    margin: 0 10px;
  }
}

.socials {
  grid-column: 3;
  a {
    color: black;
    padding: 0 10px;
    font-size: 25px;
  }
}

/*Media Queries*/
@media screen and (min-width: 600px){
  .logo {
    max-width: 65px;
  }

  h1 {
    font-size: 2.5em;
    align-self: center;
  }

  #nav-contact {
    left: 43%;
  }

  .card {
    width: 80%;
    min-width: 170px;
    max-width: 400px;
  }

  #about {
    h2 {
      margin-bottom: 25px;
    }
  }

  .about-content {
    display: flex;
    align-items: center;
    p {
      flex-grow: 1;
      width: 45%;
      padding: 0 45px 0 0;
    }
    img {
      flex-grow: 1;
      width: 45%;
    }
  }
}

@media screen and (min-width: 800px){
  #jumbotron h2 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  #nav-contact {
    left: 45%;
  }
}

@media screen and (min-width: 1100px) {
  body {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    width: 33.3%;
    max-width: 365px;
  }
}

@media screen and (min-width: 1400px) {
  header {
    background-position: 15% 85%;
  }
}