@import 'variables';

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

h4, p {
  font-family: $secondary-font;
}

img {
  width: 100%;
}

/*header*/
header {
  position: relative;
  background: url(../img/pexels-photo-861191.jpeg) no-repeat center center fixed;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  height: 500px;
  color: white;
  nav {
    width: 100%;
    a{
      padding: 5px;
      background-color: $bg-color;
      color: black;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $secondary-font;
      font-size: 1.1em;
    }
  }
}

#nav-about {
  transform: rotate(90deg);
  position: absolute;
  // top: -0px;
  bottom: 250px;
  right: 0px;
}

#nav-fw {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 250px;
  left: -40px;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  max-width: 55px;
  padding: 10px;
}

.title-card {
  background-color: $light-color;
  border: 7px solid $bg-color;
  grid-column: 2;
  grid-row: 2;
  justify-items: center;
  color: black;
  padding: 15px;
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: $secondary-font;
    margin-bottom: 0;
  }
  h3 {
    font-family: $accent-font;
    font-size: 1.7em;
    text-align: center;
    // transform: scale(1.2,1);
    margin-top: 5px;
  }
}

  /*Main--Featured Work*/
h2 {
  text-align: center;
  font-family: $accent-font;
  font-size: 2.5em;
}

h4 {
  font-size: 1.2em;
  text-transform: uppercase;
}

ul{
  margin: 0;
  padding: 10px;
  background: url(../img/pexels-photo-91884.jpeg) no-repeat center center fixed;
}

li {
  background-color: $dark-purp;
  margin: 20px 10px;
  list-style: none;
  border: solid #fff 5px;
  border-radius: 2px;
  text-align: center;
  img {
    height: 50%;
  }
  a {
  text-decoration: none;
  color: white;
  }
  p {
    color: white;
  }
}

#about {
  padding: 45px;
  font-size: 1.3em;
  background-color: $primary-color;
  color: white;
  h2{
    margin: 0;
  }
  img {
    border: 5px white solid;
  }
}
  /*Footer*/
footer {
  margin: 0;
  display: grid;
  grid-template-columns: 2fr;
  align-items: center;
}

.socials {
  grid-column: 2;
  a {
    padding: 0 10px;
    font-size: 25px;
  }
}

/*Media Queries*/
@media screen and (min-width: 600px){
  .logo {
    max-width: 100px;
  }

  h1 {
    font-size: 2.5em;
    align-self: center;
  }

  ul {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
  }

  li {
    width: 45%;
  }

  #about {
    h2{
      margin-bottom: 25px;
    }
  }

  .about-content {
    display: flex;
    align-items: center;
    p {
      flex-grow: 1;
      width: 45%;
      padding: 0 45px 0 0;
    }
    img {
      flex-grow: 1;
      width: 45%;
    }
  }
}

@media screen and (min-width: 800px){
  #jumbotron h2 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  figure {
    font-size: 1em;
  }

  li img{
    height: 62%;
  }
}

@media screen and (min-width: 1100px) {
  body {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  li{
    width: 30%;
  }
}